/* -- Technical Classes -- */
.link { color: #676770;}
/* -- Logo Link -- */
.logo-link { 
    font-size: 22px; 
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #69b9ff;}
/* -- Navigation Link -- */
.nav-link { 
    margin: 0px 20px;
    font-size: 16px;
    color: #676770;
    transition: 1.2s ease;}
.nav-link:hover {color: #69b9ff; transition: 1.2s ease;}
/* -- Main Link -- */
.main-link { 
    padding: 10px 30px;
    border: 1px solid #dcebf7;
    border-radius: 5px;
    font-size: 18px;
    line-height: 21px; 
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #dcebf7;
    transition: 1.5s ease;}
.main-link:hover { 
    border: 1px solid #69b9ff;
    background-color: #69b9ff;
    transition: 1.5s ease;}
/* -- Footer Link -- */
.footer-link {color: #676770; transition: 1.2s ease;}
.footer-link:hover {color: #69b9ff; transition: 1.2s ease;}
/* -- Tabulation buttons -- */
.tabs__btn {
    appearance: none;
    border: 0;
    border-radius: 5px;
    background: #dcebf7;
    color: #192024;
    padding: 10px 30px;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0px 15px;
    cursor: pointer;}
.tabs__btn_active {
    background: #69b9ff;
    cursor: pointer;}
.tabs__btn:not(.tabs__btn_active):hover,
.tabs__btn:not(.tabs__btn_active):focus {
    background-color: #eee;}
